.body-menu{
	float: left;
	width: 80%;
}

.body-order{
	float: left;
	width: 20%;
}

.menu-item{
	width: 100%;
	text-align: center;
}

.clear{
	clear: left;
}

body{
	background-image: url(../img/bcg.jpg);
}

.bloc{
	background-color: rgba(139, 69, 19, .7);
}

td{
	text-align: center;
}

